/* --- Global  --- */

*:before,
*:after,
* {
  box-sizing: border-box;
}

body {
  background-color: #3E2A35;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

input,
button,
input:focus,
button:focus {
  border: none;
  outline: none;
}

[contenteditable="true"]:active, 
[contenteditable="true"]:focus {
   border:none;
   outline:none;
}

header button:hover {
  background-color:#938284;
}

/* -- Nav -- */

nav {
  align-items: center;
  display: flex;
  height:50px;
  justify-content: space-between;
  margin: 20px 20px;
}

h1 {
  align-items: center;
  color: white;
  display: flex;
  font-size: 35px;
  letter-spacing: 3px;
  margin: 0;
  padding: 0;
}

.logo-img {
  margin: 0 5px;
  margin-bottom: 5px;
  height: 50px;
  width: 50px;
}


#search,
.search-btn {
  height: 100%;
}

#search {
  border-radius: 5px 0 0 5px;
  border: #BFB3B4 solid 2px;
  font-size: 14px;
  font-weight: 800;
  max-width: 500px;
  min-width: 150px;
  padding: 0 20px 0 10px;
  width: 85%;
}

#search::placeholder {
  color: #BFB3B4;
}

.search-btn {
  background-color: #BFB3B4;
  border-radius: 0px 5px 5px 0;
  width: 40px;
}

.search-wrapper {
  display:inline-flex;
  height: 35px;
  max-width: 300px;
  width: 30%;
}

/* -- Header --*/

header {
  display: flex;
  height: 45vh;
  justify-content: center;
  margin-bottom: 20px;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
}

label {
  color: #BFB3B4;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

button {
  background-color: #584547;
  color: white;
  font-size: 16px;
  font-weight: 600;
}


#title-input,
#caption-input,
.foto-btn {
  font-size: 14px;
  height: 45px;
  padding-left:10px;
  width: 100%;
}

.add-to-album-btn,
.view-favorites-btn {
  width: 40%;
}

.bottom-btns {
  display:flex;
  justify-content: space-between;
  width: 100%;
}

.trash-btn {
  background-image: url("./fotofinder-assets/delete.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 40px;
  margin: 0 20px;
  width: 40px;
}

.trash-btn:hover {
  background-image: url("./fotofinder-assets/delete-active.svg");
}

.favorite-btn {
  background-image: url("./fotofinder-assets/favorite.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 40px;
  margin: 0 20px;
  width: 40px;
}

.favorite-btn-active,
.favorite-btn:hover {
  background-image: url("./fotofinder-assets/favorite-active.svg");
}

.btn-container {
  display:flex;
  flex-direction: column;
  width: 100%;
}

.choose-file-btn,
.show-more-btn,
.bottom-btns,
.btn-container,
.file-input {
  max-width: 500px;
  min-width: 300px;
}

.file-btn {
  display: flex;
  justify-content: center;
  width: 100%;
}
.file-btn:hover > .choose-file-btn{
  background-color:#938284;

}

.file-input {
  opacity: 0;
  position: absolute;
}

/* -- Main --*/

main {
  background-color: #C2B2B4;
  border: 1px #C2B2B4 solid;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  height: 100%;
  min-height: 55vh;
}


.photo {
  background-color: white;
  border: #938284 1px solid;
  display:flex;
  flex-direction: column;
  margin: 25px 25px;
  max-height: 400px;
  min-width: 200px;
  width: 20%;
}

h2 {
  align-items:center;
  color: #3E2A35;
  display:flex;
  font-size: 15px;
  height: 20%;
  margin: 10px 10px;
}

p {
  height: 100px;
  margin: 10px;
  padding: 0;
}

.photo-caption {
  color: #3E2A35;
  font-size: 12px;
  height: 30%;
  margin: 0 5px;
}

.photo-img-wrapper {
  height: 45%;
}

.photo-img {
  background-position: contain;
  max-height: 170px;
  min-height: 170px;
  width:100%;
}


.photo-btns {
  align-items: center;
  background-color: #584547;
  display: flex;
  height: 20%;
  justify-content: space-between;

}

.icon-styling {
  width: 50px;
}


/* Add Images Box */
.empty {
  align-items:center;
  display:flex;
  height: 100px;
  margin: 100px auto;
  outline: 5px #3B2B34 dashed;
}

.add-content {
  margin: 30px;
}

.hidden {
  display:none;
}


/* Media Queries */

@media only screen and (max-width: 750px) {
  .photo {
    margin: 30px auto;

  }
}

@media only screen and (max-width: 600px) {
  nav {
    flex-direction: column;   
    height: 80px;
 }

.search-wrapper{
    width: 100%;
  }

/* Animations */

